{% extends "app1/wrapper.html" %}

{% block pageTitle%}
    Sign up
{% endblock %}


{% block link%}
  <link href="static/css/signin.css" rel="stylesheet">
  <script src="static/js/ie-emulation-modes-warning.js"></script>
{% endblock %}

{% block navbar-right %}

              <li><a href="/signin">Login</a></li>
{% endblock %}


{% block content %}
  
  <form action="" method="POST">
    {{reg_form.as_p}}
    {% csrf_token %}
    <input type="submit" value="Отправить">
  </form>

    
    
{% endblock %}
