{% extends "app1/wrapper.html" %}

{% block pageTitle%}
    Sign in
{% endblock %}


{% block link%}
  <link href="/static/css/signin.css" rel="stylesheet">
  <script src="static/js/ie-emulation-modes-warning.js"></script>
{% endblock %}

{% block navbar-right %}

<li><a href="/signup">Sign up</a></li>
{% endblock %}


{% block content %}
  

    <div class="container-fluide">

            <form class="form-signin" action="" method="POST" id="login-form">
             
                    <h2 class="form-signin-heading">Please sign in</h2>
            
                    <label for="id_username" class="sr-only">User name</label>
                    <input type="text" name="username" id="id_username" class="form-control" placeholder="User name" required autofocus>
                    
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
                    <input type="hidden" name="next" value="/admin/">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="remember-me" disabled> Remember me
                      </label>
                    </div>
                    {% csrf_token %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                  </form>

    </div> <!-- /container -->
{% endblock %}
