{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block pageTitle%}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">
    {% block link%}
    {% endblock %}


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="padding-right: 15px;">
      <div class="container-fluide">
        <div class="navbar-header">
            <a class="navbar-brand" href="/accounts/{{user.id}}">LB</a><!--LINK TO MY ACCOUNT-->
        </div>

        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>

          

          <ul class="nav navbar-nav navbar-right">

              {% if request.user.is_authenticated %}

              {% block au-navbar-right %}

              <li><img src="{{user.person.user_pic.url}}" width="50px" height="50px"></li>
              <li class="dropdown">
                  
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% if user_first_name != ''  %}
                    {{user_first_name}}
                    {% else %}
                    {{request.user.username}}
                    {% endif %}
                      

                      <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/admin">Панель администратора</a></li>
                    <li><a href="/accounts/{{user.id}}">Мой кабинет</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">...</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Sign out</a></li>
                    
                  </ul>
                </li>

              {% endblock %}

              {% else %}
              
              {% block navbar-right %}
              <li><a href="signup">Sign up</a></li>
              <li><a href="signin">Login</a></li>
              {% endblock %}

              {%endif%}


            
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>





    
    <div class="container ">
      <div class="starter-template">

          {% block content %}
          {% endblock %}
        
      </div>
      

    











    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
  </body>
</html>
